cfgv==3.4.0
contourpy==1.2.1
cycler==0.12.1
distlib==0.3.7
filelock==3.12.4
fonttools==4.53.0
identify==2.5.30
kiwisolver==1.4.5
matplotlib==3.9.0
nodeenv==1.8.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
platformdirs==3.11.0
pre-commit==3.5.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
scipy==1.13.1
seaborn==0.13.2
six==1.16.0
tzdata==2024.1
virtualenv==20.24.5
